body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.word {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.word div {
    color: #000;
    font-size: 90px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90px;
    border-bottom: 2px solid #000;
    text-align: center;
    height: 100px;
    text-transform: uppercase;
}

.progressBar {
    width: 600px;
    border: 2px solid #000;
    height: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 30px;
    overflow: hidden;
}

.progressBar .bar {
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 400ms cubic-bezier(1,-0.12,.69,1.05);
}

.playerStats {
    margin: 40px auto 0;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guessedWordsCounter, .livesCounter  {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.livesCounter img, .guessedWordsCounter img{
    margin-right: 10px;
    height: 20px;
}

.levels {
    max-width: 400px;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
}

.level {
    font-weight: 500;
    width: 120px;
    padding: 20px;
    background-color: brown;
    flex: 1fr;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 200ms;
}

.level:hover {transform: translateY(-2px);}

.level.easy {background-color: #2be253;}
.level.normal {background-color:#ffd549;}
.level.hard {background-color: #ff4242;}

.level.easy.active {box-shadow: 0 5px 0 white, 0 10px 0 #2be253;}
.level.normal.active {box-shadow: 0 5px 0 white, 0 10px 0 #ffd549;}
.level.hard.active {box-shadow: 0 5px 0 white, 0 10px 0 #ff4242;}

/* POPUPS */

.outOfLives, .gameOver {
    position: absolute;
    width: 1000px;
    height: 600px;
    background-color: #ececec;
    top: 200%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 500;
    transition: 200ms;
    opacity: 0;
}

.outOfLivesActive, .gameOverActive {
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.outOfLives img, .gameOver img {
    height: 200px;
    display: block;
    margin: 100px auto 0;
}

.outOfLives p, .gameOver p {
    font-size: 32px;
    margin-top: 60px;
    text-transform: uppercase;
}

.cta {
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: 60px auto 0;
    justify-content: space-between;
}

.ctaButton {
    width: 120px;
    padding: 20px;
    cursor: pointer;
    transition: 200ms;
}

.ctaButton a {
    display: block;
    padding: 20px;
}

.ctaButton:hover {
    transform: translateY(-2px);
}

.cta .restartLives, .cta .restartGame {background-color: #ffd549;}
.cta .exitLives, .cta .exitGame {background-color: #ff4242; padding: 0;}
